
div{
margin:30px;
background-color:grey;
color:white;
padding:25px;
text-align:center;

}
img{
align:center
}
li{
display:inline;
text-decoration:none;
margin:30px;
padding:10px;
}





















