<style>
p{
display:none;
background-color:yellow;
padding:20px;
}
div{
background-color:green;
color:white;
padding:25px;
text-align:center;
}
p::first-line{
color:#ff0000;
font-variant:small-caps;
}
div{
margin:80px;
width: 400px;
height:20px;
background-color:grey;
border:5px solid red;
  padding: 50px;
}
div:hover p{
display:block;
}
p::first-letter{
color:blue;
font-size:xx-large;
}
h1::before{
content:url(/home/itsec2/Pictures/e8678463fc94508c102f3ebc5ca80b1f.jpg);
}
h2::after{
content:url(/home/itsec2/Pictures/images.jpeg);
}
img:hover{
opacity:0.5;
filter:alpha(opacity=50);
}
div{
background-color:#4caf50;
padding:50px;
}
div.first{
opacity:0.1;
filter;alpha(opacity=10);
}
div.sec{
opacity:0.3;
filter;alpha(opacity=30);
}
div.third{
opacity:0.6;
filter;alpha(opacity=60);
}
div.four{
opacity:0.8;
filter;alpha(opacity=80);
}
div{
background;rgb(76,175,80);
padding:50px;
}
div.first{
background;rgb(76,175,70);
}
div.sec{
background;rgb(76,175,80);

}
div.third{
background:rgba(76,175,06.80);
}
div.h{
opacity:0.5;
width:700px;
height:50px;
padding:10px;
border:5px solid maroon;
  background-image:url("/home/itsec2/Downloads/presidency-bangalore-infrastructure.jpg");
background-repeat:;
}
</style>


