body{
  background-image:url("/home/itsec2/Downloads/jpeg-home.jpg");
  background-repeat:no-repeat;
background-attachment:fixed;
background-attachment:scroll;
background-position:center;}
p.dotted{border-style:dotted;
border-width:thin;
border-width:5px 5px 5px 5px;
border-color:red;}
p.groove{border-style:groove;
border-color:green;
border width:thick;
border-width:5px 3px 6px 9px;}
p.dashed{border-style:dashed;
border-color:green;
border width:thick;
border-width:5px 3px 6px 9px;}
p.double{border-style:double;
border-color:green;
border width:thick;
border-width:5px 3px 6px 9px;}
p{
margin:25px 50px 75px 80px;
border-top-style:dotted;
border-right-style:dashed;
border-bottom-style:dotted;
border-left-style:5px solid red;
background-color:green;}
div{
margin:80px;
width: 20%;
height:200px;
background-color:maroon;
  padding: 25px;
  border:50px solid red;
padding: 100px;
}
li{
display:block;
}
span.a{
display:inline;
background-color:yellow;
width:100px;
height:100px;
padding:10px;
border:3px solid green;
}
span.b{
display:inline-block;
background-color:orange;
width:100px;
height:100px;
padding:20px;
border:5px solid maroon;
}
span.c{
display:block;
background-color:purple;
width:100px;
height:50px;
padding:20px;
border:5px solid red;
}
a:link,a:visited{
background-color:red;
}span.e{
display:inline;
background-color:blue;
width:500px;
height:100px;
padding:20px;
border:5px solid maroon;
}

